<!DOCTYPE html>
<html>
  <head>
    <title>BikeAppDemo</title>
    
    <!--Styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!--java-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--for responsiveness-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
  </head>

  <body>
  	<div class= "page-container">
  		<nav class= "nav-top">
  			<ul>
  				<li id="nav-home">Home</li>
  				<li id="nav-about">About</li>
  				<li id="nav-contact">Contact</li>
  			</ul>
  		</nav>

    	<%= yield %>

    	<footer>
    		&copy; 2017 Bike Berlin
    	</footer>
    </div>
  </body>
</html>
